<div id="main-content" class="container">
    <div class="row row-main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Add Admin</h3></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="adminName"
                               placeholder="Please insert name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="adminPassword"
                               placeholder="Please insert password">
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label><input id="chekcbox-mng-users" type="checkbox" data-toggle="tooltip" title="Ability to manage users and client's api wii be added to admin's rights">Manage Users And Create API
                                Clients</label>
                        </div>
                    </div>
                    <button id="btn-add-admin" class="btn btn-info pull-right" type="submit">Add</button>
                </form>
            </div>
        </div>

    </div>
</div>