{{> top-nav}}

<div id="main-content" class="container">
    <div class="row row-main">

        <div class="text-center">
            <div class="alert alert-info">

                <h1>Welcome to the <b>Sociality</b></h1>
                <p>This is an app for your social management</p>
                <h2>Why is this app useful?</h2>
                <ol>
                    <li>It is created for educational purposes</li>
                    <li>Common place for accessing all of your social accounts</li>
                    <li>It is made with extendability in mind</li>
                </ol>
            </div>
        </div>
    </div>
</div>