<div id="loginform">
    <div class="container" id="loginform-container">

        <!--<form class="form-signin" id="login-form">-->
        <!--<h2 class="form-signin-heading">Registration form</h2>-->
        <!--<label for="username" class="sr-only">Username</label>-->
        <!--<input type="email" id="username" class="form-control" placeholder="Username" required autofocus>-->
        <!--<label for="password" class="sr-only">Password</label>-->
        <!--<input type="password" id="password" class="form-control" placeholder="Password" required>-->
        <!--<button class="btn btn-lg btn-primary btn-block" id="btn-register" type="submit">Register</button>-->

        <!--</form>-->


        <form class="form-signin" id="login-form" autocomplete="off">
            <h2 class="form-signin-heading">Registration form</h2>
            <fieldset>
                <!--<div id="legend">-->
                <!--<legend class="">Register</legend>-->
                <!--</div>-->
                <div class="control-group">
                    <!-- Username -->
                    <div class="controls">
                        <input type="text" id="username" autocomplete="off" name="username" placeholder="Username" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <div class="controls">
                        <input type="password" id="password" autocomplete="off" name="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Confirm password Password -->
                    <div class="controls">
                        <input type="password" id="password_confirm" autocomplete="off" name="password_confirm" placeholder="Confirm Password" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <div class="controls">
                        <input type="text" id="firstName" autocomplete="off" name="firstName" placeholder="First Name" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <div class="controls">
                        <input type="text" id="lastName" autocomplete="off" name="lastName" placeholder="Last Name" class="form-control">
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button id='btn-register' class="btn btn-lg btn-primary btn-block">Register</button>
                    </div>
                </div>
            </fieldset>

            <br/>
            <div class="container">

                <div class="row row-main">
                    <a href="#/login">Back to Login</a>
                </div>
            </div>
        </form>
    </div>

</div>
